@font-face {
  font-family: "MuseoModerno"; 
  src: url('MuseoModerno-Regular.ttf') format('truetype');
  font-weight: 400;
}
h1 {
    font-family: 'MuseoModerno', sans-serif; /* Apply MuseoModerno font */
}
h2 {
    font-family: 'MuseoModerno', sans-serif; /* Apply MuseoModerno to headings */
}
h3 {
    font-family: 'MuseoModerno', sans-serif; /* Apply MuseoModerno to headings */
}
