@font-face {
  font-display: swap;
  font-style: normal;
  src: url('fonts/MuseoModerno-Regular.ttf') format('truetype');
  font-family: "MuseoModerno"; 
  font-weight: 400;
}
h1 {
    font-family: 'MuseoModerno', sans-serif; /* Apply MuseoModerno font */
}
h2 {
    font-family: 'MuseoModerno', sans-serif; /* Apply MuseoModerno to headings */
}
