:root {
    /* ------Color variables------ */
    --black_900: #070e1b;
    --black_900_01: #000000;
    --black_900_7f: #070e1b7f;
    --green_800_bf: #298125bf;
    --white_a700: #ffffff;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--black_900); /* Updated background color */
    color: var(--white_a700); /* Text color for better contrast */
}
#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070e1b, #298125bf); /* Apply gradient */
    position: absolute;
    z-index: -1;
}

h2, em {
    width: 100%;
    color: var(--white_a700); /* Consistent text color */
}

#rnbo-root {
    margin: auto;
    text-align: center;
    max-width: 100%;
}

#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}
